.vscode/*
*.exe
*.out
!*.md

LeetCode/*/*
!LeetCode/*/*.cpp
!LeetCode/*/*.txt
!LeetCode/*/*.md

GraphTheory/*/*
!GraphTheory/*/*.cpp
!GraphTheory/*/*.txt

AcWing/*/*
!AcWing/*/*.cpp
!AcWing/*/*.txt
!AcWing/*/*.md

written-test/*/*
!written-test/*/*.cpp
!written-test/*/*.txt
!written-test/*/*.md

miscellaneous/*/*/*
!miscellaneous/*/*/*.cpp
!miscellaneous/*/*/*.txt
!miscellaneous/*/*/*.md

test/*
!test/*.cpp
!test/*.txt
!test/*.md

tmp.cpp
tmp