.vscode/*
*.exe
*.out
!*.md

LeetCode/*/*
!LeetCode/*/*.cpp
!LeetCode/*/*.txt
!LeetCode/*/*.md

GraphTheory/*/*
!GraphTheory/*/*.cpp
!GraphTheory/*/*.txt

AcWing/*/*
!AcWing/*/*.cpp
!AcWing/*/*.txt
!AcWing/*/*.md

work/*/*/*
!work/*/*/*.cpp
!work/*/*/*.txt
!work/*/*/*.md

tmp.cpp
tmp