.vscode/*
*.exe
*.out
!*.md

LeetCode/*/*
!LeetCode/*/*.cpp
!LeetCode/*/*.py
!LeetCode/*/*.txt
!LeetCode/*/*.md
!LeetCode/weekly-contest/*

GraphTheory/*/*
!GraphTheory/*/*.cpp
!GraphTheory/*/*.txt

AcWing/*/*
!AcWing/*/*.cpp
!AcWing/*/*.py
!AcWing/*/*.txt
!AcWing/*/*.md

written-test/*/*
!written-test/*/*.cpp
!written-test/*/*.py
!written-test/*/*.txt
!written-test/*/*.md

miscellaneous/*/*
!miscellaneous/*/*.cpp
!miscellaneous/*/*.py
!miscellaneous/*/*.go
!miscellaneous/*/*.c
!miscellaneous/*/*.txt
!miscellaneous/*/*.md

test/*
!test/*.cpp
!test/*.py
!test/*.txt
!test/*.md

tmp.cpp
tmp